#pass_alert{
	height: 60px;
	width: 99%;
	background-image: url("../images/gantan.png");
	background-repeat: no-repeat;
}
#pass_alert span{
	padding-left: 30px;
}
.change_pass{
	width: 200px;
	height: 30px;
	font-size: 18px;
	border-top-color: rgb(223,223,223);
}
#change_button{
	color: white;
	background-color: rgb(242,157,23);
	width: 70px;
	height: 30px;
	border: 1px rgb(231,124,0);
	font-size: 20px;
	margin-left: 95px;
}
#mima1,#mima2{
	font-size: 13px; 
	color:rgb(241,121,117);
}
#sc{
	font-size: 13px; 
	color:rgb(241,121,117);
	padding-left: 120px;
}
#button{
	color: white;
	background-color: rgb(242,157,23);
	width: 70px;
	height: 30px;
	border: 1px rgb(231,124,0);
	font-size: 20px;
	margin-left: 105px;
	margin-top: -25px;
}